@charset "UTF-8"; 
@font-face{
    /* font le plus proche de celui utilisé pour "Communde de Paris" sur les affiches */
    font-family: 'FontsFree-Net-Balboa-W00-ExtraBlack';
    src: url('../font/FontsFree-Net-Balboa-W00-ExtraBlack.ttf');
}

@font-face{
    /* font le plus proche de celui utilisé pour les titres sur les affiches */
    font-family: 'Ratio_Modern_W00_ExtraBold';
    src: url('../font/Ratio_Modern_W00_ExtraBold.ttf');
}


:root{
    --noir_passe: #272822;
    --couleur_vieille_affiche: #faf6f0
}

body{
    background-color: var(--couleur_vieille_affiche);
}


/*------------bannière entete---------------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: var(--noir_passe);
}

h1.titre_du_site{
    font-family: 'FontsFree-Net-Balboa-W00-ExtraBlack';
    font-size: 4rem;
    text-align: center;
    color: var(--noir_passe);
    opacity: 90%;
}

.image_banniere{
    max-height: 200px;
}

/*---------------Menu--------------------*/

nav{
    border-style: dashed;
    border-width: 0.1rem;
    border-color: var(--noir_passe);
    
}

/*
nav li{
    display:inline;
}


nav .niv_1{
    display:inline;
}
*/

/*-------------corps------------------------*/

article{
    border-style: dashed;
    border-width: 0.1rem;
    border-color: var(--noir_passe);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: dashed;
    border-width: 0.1rem;
    border-color: var(--noir_passe);
}


.portrait{
    max-height: 250px;

}


article h2 {
    color: var(--noir_passe);
    opacity: 90%;
    font-family:'Ratio_Modern_W00_ExtraBold';
    font-size: 2rem;
}

/*-------------liens------------------*/

a:link {
    color: rgb(255, 0, 0);
}
a:visited {
    color: rgb(48, 0, 0);
}

a:hover {
    border-style: dashed;
    border-width: 0.1rem;
    border-color: var(--noir_passe);
}
