@charset "UTF-8"; 

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.portrait{
    max-height: 250px;
}

nav li{
    display:inline;
}

h1, h2 {
    color:darkred
}

